* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
    #container {
        width: 500px;
        min-height: 100vh;
        background-color: grey;
        font-size: 0px;
}
    .block {
        display: inline-block;
        background-color: salmon;
        width: 100px;  
        height: 100px;
}
    .block2 {
        display: inline-block;
        background-color: salmon;
        width: 150px;  
        height: 100px;
}
    .red {
    background-color: red;
}
    .blue {
    background-color: blue;
}
    .yellow {
    background-color: yellow;
}
    .green {
    background-color: green;
}
    .orange {
    background-color: orange;
}
    .purple {
    background-color: purple;
}
    .pink {
    background-color: pink;
}
    .white {
    background-color: white;
}