@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.flex-container {
  display: flex; 
  justify-content: center; 
}
.flex-container img {
    padding: 10px;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-width: 10px;
}
figcaption {
  text-align: center;
}