* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.red {
    color: red;
}
.black {
    color: black;
}
.sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}
.chapter {
    font: bold 24px sans-serif;
}
.edit{
    color: orange;
    font-style: italic;
}
.both {
    color: red;
    font: italic 24px sans-serif;
}
.wrap{
    display: flex;
    min-height: 100vh;
}
#sidebar + div {
    padding-right: 200px;
    padding-left: 20px;
}
  .custom-underline {
    display: inline-block; /* Makes the element wrap its content width */
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    padding-left: 20px; 
    padding-right: 600px;
  }
  .maincontent {
    width: 75%;
    margin-left: 20px; 
}