* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
nav {
    background-color: orange;
    color: white;
    padding: 0px;
}
nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    display: flex;
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a {
    color: yellow;
    text-decoration: none;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: brown;
    margin: 20px;
    margin-right: 340px;
}
.button {
    background-color: brown;
    color: yellow;
    padding: 5px 20px;
    border-style: double;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}