* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.container {
    column-count: 3;
    column-gap: 10px;
    column-rule: 2px solid black;
}
#flex-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    columns: 3;
    column-gap: 10px;
    column-rule: 2px solid black;
}
#column {
    display: flex;
    flex-direction: column;
    padding: 5px;
    img {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }        
}
.main-image {
    width: 100%;
    height: 200px;
    width: 200px;
}
#second-column {
    display: flex;
    flex-direction: column;
    img {
        width: 600px;
        height: 625px;
        margin-bottom: 5px;
    }
}
#third-column {
    margin-left: 400px;
    display: flex;
    flex-direction:column;
}
.mebay {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.buy-now {
    background-color: #0070ba;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 350px;
}
.add-to-cart {
    background-color: white;
    outline: #0070ba solid 1px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 350px;
}
.add-to-wishlist {
    background-color: white;
    outline: #0070ba solid 1px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 350px;
}