* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
    .rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
    .lb {
    background-color: lightblue;
}    
    .r {
    background-color: red;
}
    .sun {
    color: yellow;
}   
    .gr {
    background-color: green;
}
    .gy {
    background-color: grey;
}
    .p {
    background-color: purple;
}
    .highlight { 
    background-color: yellow;
}
    .blue { 
    color: blue;
}
    .red { 
    color: red;
}
    .green { 
    color: green;
}
    .purple { 
    color: purple;
}
    .grey {
    color: grey;
}
    .white {
    color: white;
}