* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
    .welcome {
    color: purple;
}
    .white {
    color: white;
}
    .grey {
    color: grey;
}
    .black {
    background-color: black;
}
    .rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}